@import url(../vendor/normalize.css);
@import url(../blocks/page.css);
@import url(../blocks/header.css);
@import url(../blocks/person.css);
@import url(../blocks/about.css);
@import url(../blocks/portfolio.css);
@import url(../blocks/contact.css);
@import url(../blocks/footer.css);
