.about-layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  padding: 200px 100px;
}

.about-text h2 {
  font-family: 'figtree';
  padding-bottom: 25px;
  font-size: 92px;
  margin-bottom: 24px;
  font-weight: 600;
}

.about-text p {
  font-family: "Google Sans Code";
  font-size: 30px;
  line-height: 1.7;
  color: #444;
  max-width: 720px;
}

.skills-grid {
  display: grid;
  padding: 30px;
  grid-template-columns: repeat(2, 1fr);
  gap: 29px;
}

.skill-card {
  background-color: #f9f9f9;
  border-radius: 12px;
  padding: 24px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s ease;
}

.skill-card:hover {
  transform: translateY(-4px);
}

.skill-card h3 {
  font-family: "figtree";
  font-size: 21px;
  margin-bottom: 12px;
  color: #333;
  font-weight: 600;
}

.skill-card p {
  font-size: 17px;
  color: #555;
  line-height: 1.5;
}

.miniicon{
  width: 45px;
}

.miniicon:hover{
  filter: brightness(1.02);
}

.tech__title {
  margin-top: 70px;
  margin-bottom: 0;
  font-weight: normal;
  font-size: 65px;
  line-height: 60px;
  text-align: center;
}

.tech-image{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
  margin-bottom: 70px;
}

/* Tablet */

@media screen and (max-width: 768px){

.mision__title{
  margin-top: 70px;
  font-weight: normal;
  font-size: 45px;
  line-height: 60px;
  text-align: center;
  margin-top: 70px;
  margin-bottom: 0;
  font-weight: normal;
  font-size: 65px;
  line-height: 60px;
  text-align: center;
}

.mision__subtitle{
  margin-top: 44px;
  text-align: justify;
  padding-left: 10%;
  padding-right: 10%;
  font-weight: normal;
  font-size: 25px;
  line-height: 40px;
}

.vision__title{
  margin-top: 70px;
  font-weight: normal;
  font-size: 45px;
  line-height: 60px;
  text-align: center;
  margin-top: 70px;
  margin-bottom: 0;
  font-weight: normal;
  font-size: 65px;
  line-height: 60px;
  text-align: center;
}

.vision__subtitle{
  margin-top: 44px;
  text-align: justify;
  padding-left: 10%;
  padding-right: 10%;
  font-weight: normal;
  font-size: 25px;
  line-height: 40px;
}

.valores__title{
  margin-top: 70px;
  font-weight: normal;
  font-size: 45px;
  line-height: 60px;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 0;
  font-weight: normal;
  font-size: 65px;
  line-height: 60px;
  text-align: center;
}

.valores__subtitle{
  margin-top: 44px;
  padding-left: 20%;
  padding-right: 20%;
  font-weight: normal;
  font-size: 25px;
  line-height: 60px;
  text-align: center;
  font-family: monospace;
  color: rgb(4, 65, 79);
}

.content__video-item_size {
  width: 100%;
  height: 300px;
}
}

@media screen and (max-width: 320px){


.mision__title{
  margin-top: 70px;
  font-weight: normal;
  font-size: 45px;
  line-height: 60px;
  text-align: center;
  margin-top: 70px;
  margin-bottom: 0;
  font-weight: normal;
  font-size: 45px;
  line-height: 60px;
  text-align: center;
}

.mision__subtitle{
  margin-top: 44px;
  text-align: justify;
  padding-left: 10%;
  padding-right: 10%;
  font-weight: normal;
  font-size: 15px;
  line-height: 40px;
}

.vision__title{
  margin-top: 70px;
  font-weight: normal;
  font-size: 45px;
  line-height: 60px;
  text-align: center;
  margin-top: 70px;
  margin-bottom: 0;
  font-weight: normal;
  font-size: 45px;
  line-height: 60px;
  text-align: center;
}

.vision__subtitle{
  margin-top: 44px;
  text-align: justify;
  padding-left: 10%;
  padding-right: 10%;
  font-weight: normal;
  font-size: 15px;
  line-height: 40px;
}

.valores__title{
  margin-top: 70px;
  font-weight: normal;
  font-size: 45px;
  line-height: 60px;
  text-align: center;
  margin-top: 70px;
  margin-bottom: 0;
  font-weight: normal;
  font-size: 45px;
  line-height: 60px;
  text-align: center;
}

.valores__subtitle{
  margin-top: 44px;
  padding-left: 20%;
  padding-right: 20%;
  font-weight: normal;
  font-size: 25px;
  line-height: 60px;
  text-align: center;
  font-family: monospace;
  color: rgb(4, 65, 79);
}

.content__video-item_size {
  width: 100%;
  height: 200px;
}
}