.portfolio{
  padding-top: 70px;
}

.portfolio__projects {
  display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 290px;
    max-width: 900px;
    margin: 0 auto;
}

.portfolio__title{
    margin-bottom: 0;
    margin-top: 100px;
    font-weight: normal;
    font-size: 65px;
    line-height: 60px;
    text-align: center;
}

 .portfolio__subtitle{
  margin-top: 40px;
    margin-bottom: 0;
    font-weight: normal;
    font-size: 35px;
    line-height: 60px;
    text-align: center;
 }

.portfolio__image {
  width: 300px;
  height: auto;
  border-radius: 10px;
  transition: transform 0.3s;
}

.portfolio__image:hover {
  transform: scale(1.05);
}


.portfolio__project-title{
  margin-top: 80px;
  font-size: 30px;
  text-align: center;
}
.portfolio__project {
  text-align: center;
}

.portfolio__project-description{
font-size: 20px;
}

@media (max-width: 768px) {
  .portfolio__projects {
    grid-template-columns: 1fr;
  }
}